# ───── Database Configuration ─────────────────────────────────
DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'
# DB_HOST='localhost'
# DB_PREFIX='wp_'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# ───── Application URLs ───────────────────────────────────────
WP_ENV='development'
WP_HOME='http://your-site.local'
WP_SITEURL="${WP_HOME}/wp"

# ───── Debug & Logging ────────────────────────────────────────
# Set to false in staging/production
WP_DEBUG=true
WP_DEBUG_LOG=true
WP_DEBUG_DISPLAY=true
SCRIPT_DEBUG=true

# ───── WordPress Salts ────────────────────────────────────────
# Generera nya: https://roots.io/salts.html
AUTH_KEY='generate-me'
SECURE_AUTH_KEY='generate-me'
LOGGED_IN_KEY='generate-me'
NONCE_KEY='generate-me'
AUTH_SALT='generate-me'
SECURE_AUTH_SALT='generate-me'
LOGGED_IN_SALT='generate-me'
NONCE_SALT='generate-me'
