# Application
web/app/mu-plugins/*/
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/upgrade
web/app/upgrade-temp-backup
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/uploads/fonts
!web/app/uploads/fonts.gitkeep
web/app/cache/*
web/app/themes/twenty*/
web/app/themes/*/languages/*
!web/app/themes/*/languages/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Backup and temporary files
*.bak
*.old
*.tmp

# Database dumps
*.sql
*.sql.gz
*.sql.zip

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Node Package Manager
node_modules

# Cache directories
.cache/
tmp/

# MAC OS X
.DS_Store
Thumbs.db

# IDE files
.vscode/*
