# Application
web/app/mu-plugins/*/
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/upgrade
web/app/upgrade-temp-backup
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/uploads/fonts
!web/app/uploads/fonts.gitkeep
web/app/cache/*
web/app/themes/twenty*/

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Node Package Manager
node_modules

# MAC OS X
.DS_Store

# IDE files
.vscode/*
