includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - web/app/themes/wp-starter-theme
        - web/app/mu-plugins
    excludePaths:
        - web/app/themes/wp-starter-theme/node_modules
    bootstrapFiles:
        - web/wp/wp-load.php