@use '../abstracts' as *;

// =============================================================
// Site Header
// =============================================================

.site-header {
	background-color: $color-gray-light;
	margin-bottom: 4rem;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
		padding-block: 1rem;
	}

	.site-logo {
		display: inline-block;
		flex-shrink: 0;
		height: 3rem;
		color: $color-black;
		text-decoration: none;

		@include focus-visible-shadow;

		svg {
			display: block;
			height: 100%;
			width: auto;
			fill: currentcolor;
			transition: fill $transition-base;
		}

		&:hover svg {
			opacity: 0.75;
		}
	}
}
