@use '../abstracts' as *;

// =============================================================
// Breadcrumbs
// =============================================================

.breadcrumb {
	margin-block: 4rem;

	.breadcrumb-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		align-items: center;

		li {
			display: inline;
		}

		.current {
			color: $color-black;
		}

		.delimiter {
			user-select: none;
		}

		[itemprop="position"] {
			display: none;
		}
	}
}
