@import "colors";
@import "fonts";
@import "mixins";

/* --------------------------------------------------------------
## Bootstrap Variables
-------------------------------------------------------------- */
// Spacers
$spacer: 1rem;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
);

// Navbar
$navbar-padding-y: $spacer * 2;
$navbar-padding-x: null;
$navbar-nav-link-padding-x: 1rem;

// Containers
$container-padding-x: 4rem;
