@import "colors";
@import "fonts";


/*--------------------------------------------------------------
# Navbar variables
--------------------------------------------------------------*/
$navbar-padding-y:          2rem;
$navbar-nav-link-padding-x: 1rem;


/*--------------------------------------------------------------
# Buttons variables
--------------------------------------------------------------*/
$btn-padding-y:             0.5rem;
$btn-padding-x:             2rem;