@use '../abstracts' as *;

// =============================================================
// WP Block — Separator
// =============================================================

.wp-block-separator {
	background-color: $color-gray-medium;
	border: 0;
	height: 2px;
	margin-block: 2rem;
	max-width: 10rem;

	&.is-style-wide {
		max-width: 100%;
	}
}
