.site-header {
	background-color: $gray-300;
	margin-bottom: 4rem;

	.navbar-brand {
		display: inline-block;
		height: 4rem;
		color: $black;

		@include focus-visible-shadow;

		svg {
			display: block;
			height: 100%;
			width: auto;
			fill: currentcolor;
			transition: fill 0.3s ease;
		}

		&:hover svg {
			fill: color.adjust($black, $lightness: 30%);
		}
	}
}
